# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.isntruction

# Generated model files
*.pkl
*.joblib

# Temporary files
*.tmp
*.temp